<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.demo.mybatis.mapper.DepartmentMapper">
	<resultMap id="BaseResultMap"
		type="com.alex.demo.mybatis.model.Department">
		<id column="dept_no" jdbcType="CHAR" property="deptNo" />
		<result column="dept_name" jdbcType="VARCHAR"
			property="deptName" />
	</resultMap>
	<resultMap type="com.alex.demo.mybatis.model.Employee" id="EmployeeResult">
		<id column="emp_no" jdbcType="INTEGER" property="empNo" />
		<result column="birth_date" jdbcType="DATE"
			property="birthDate" />
		<result column="first_name" jdbcType="VARCHAR"
			property="firstName" />
		<result column="last_name" jdbcType="VARCHAR"
			property="lastName" />
		<result column="gender" jdbcType="CHAR" property="gender" />
		<result column="hire_date" jdbcType="DATE" property="hireDate" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from departments
		where dept_no = #{deptNo,jdbcType=CHAR}
	</delete>
	<insert id="insert"
		parameterType="com.alex.demo.mybatis.model.Department">
		insert into departments (dept_no, dept_name)
		values (#{deptNo,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.alex.demo.mybatis.model.Department">
		update departments
		set dept_name = #{deptName,jdbcType=VARCHAR}
		where dept_no = #{deptNo,jdbcType=CHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select dept_no, dept_name
		from departments
		where dept_no = #{deptNo,jdbcType=CHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select dept_no, dept_name
		from departments
	</select>
	<select id="findDepartments" parameterType="map"
		resultMap="BaseResultMap">
		select dept_no, dept_name from departments where 1=1
		<if test="deptNo != '' and deptNo != null">
			and dept_no = #{deptNo}
		</if>
		<if test="deptName != '' and deptName != null">
			and dept_name like concat('%',#{deptName},'%')
		</if>
		limit 50
	</select>
	<select id="findEmployeesByDeptNo" parameterType="java.lang.String" resultMap="EmployeeResult">
		select * from employees 
		where emp_no in (select emp_no from departments d left outer join dept_emp de on d.dept_no = de.dept_no 
		where d.dept_no = #{deptNo})
	</select>

</mapper>